{% extends 'core/base.html' %}
{% load static %}

{% block title %}{% if persona %}{{ persona.nombre }}{% else %}Mi Web Personal{% endif %} - Acerca de{% endblock %}

{% block cabecera %}
<header class="masthead" style="background-image: url('{% static 'core/img/about-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Acerca de</h1>
          <span class="subheading">Biografía</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      {% if persona.foto %}
        <img class="img-fluid avatar" src="{{ persona.foto.url }}" alt="{{ persona.nombre }}">
      {% else %}
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="{% if persona %}{{ persona.nombre }}{% else %}Avatar{% endif %}">
      {% endif %}
    </div>

    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading">{% if persona %}{{ persona.nombre }}{% else %}Sobre Mí{% endif %}</h2>
      <p>{% if persona %}{{ persona.biografia }}{% else %}Biografía no configurada aún.{% endif %}</p>
      {% if persona.biografia_extra %}
        <p>{{ persona.biografia_extra }}</p>
      {% endif %}
    </div>
  </div>
</div>
<hr>
{% endblock %}