{% extends 'core/base.html' %}
{% load static %}

{% block title %}{% if persona %}{{ persona.nombre }}{% else %}Mi Web Personal{% endif %} - Contacto{% endblock %}

{% block cabecera %}
<header class="masthead" style="background-image: url('{% static 'core/img/contact-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Contacto</h1>
          <span class="subheading">Asesoría</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>{% if persona %}{{ persona.descripcion_contacto }}{% else %}Información de contacto no disponible todavía.{% endif %}</p>
      <br>
      {% if persona.telefono %}
        <p><b>Teléfono:</b> {{ persona.telefono }}</p>
      {% endif %}
      {% if persona.honorarios %}
        <p><b>Honorarios:</b> {{ persona.honorarios }}</p>
      {% endif %}
    </div>
  </div>
</div>
<hr>
{% endblock %}